* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3C969;
    font-family: 'Epilogue', sans-serif;
}

h1 {
    padding: 1em;
}

main {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 20px;
    background-color: #0E1428;
    padding: 1em;
    color: white;
}

/**********NAVIGATION***********/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E1428;
    font-family: 'Epilogue', sans-serif;
}

ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;

}

.logo {
    padding: 1em;
    text-transform: uppercase;
}

.logo a {
    color: white;
}

.logo a, 
ul a {
    text-decoration: none;
    letter-spacing: .45em;
}

ul a {
    display: block;
    padding: 1em;
    color: white;
}

ul a:hover {
    background-color: #2A3D79;
}

/*****DOGS*****/

.dogs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dogs img {
    width: 300px;
    margin: 20px;
}

/*****CATS*****/

.cats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cats img {
    width: 300px;
    margin: 20px;
}